<div class="container">
  <h1>Welcome to Pricelister!</h1>

  <%= form_tag('/scraper/search', remote: true, id: "searchForm") do %>
    <%= select_tag "states", options_for_select(@scrape.states) %>
    <%= select_tag "market" %>
    <%= label_tag 'search_term', "What would you like the price of???"  %>
    <%= text_field_tag 'search_term', nil, placeholder: "~*~search here~*~"%>
    <%= submit_tag 'Search', id:"search" %>
  <% end %>

  <div id="response">

  </div>
</div>
